.orderedProducts {
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.5rem;

  &__header {
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0.5rem;
    background-color: #f0f0f0;
  }

  p {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
}
